@import "../../../../themes/mixin";

.container {
    margin-bottom: 10px;
    :global {
        .am-list-item {
            height: 48px;
            .am-list-content {
                font-size: 14px;
                color: @xhj-gray-dark;

            }
        }
    }
}

.containerStore {
    margin-bottom: 10px;
    :global {
        .am-list-item {
            height: 96px;
            .am-list-content {
                font-size: 16px;
                color: @xhj-gray-dark;
            }
        }
    }
}
