@import "../../../../themes/mixin";

.header {
    img {
        width: 96px;
        height: 96px;
        margin-bottom: 24px;
    }
}

.container {
    margin-bottom: 10px;
}

.phoneInput {
    position: relative;

    .verify {
        position: absolute !important;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 86px;
        height: 28px;
        line-height: 28px;

        span {
            color: @easeu-color;
        }
    }
}

.submit {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
