
.button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #fff;
}
.user_button {
    width: 100%;
}
.user_payba {
    padding-left: 15px;
    font-size: 14px;
    color: #333333;
    flex-basis: 247px;
    span {
        margin-left: 8px;
        color: #FF5544;
    }
}
