h1, h2, h3, h4, p, div{
    margin: 0;
    font-weight: normal;
}

.user_top {
    height: 122px;
    text-align: center;
    padding: 24px 52px;
    margin-bottom: 10px;
    background-color: #fff;
    h1 {
        font-size: 16px;
        color: #333333;
        margin-bottom: 12px;
        .icon_xz {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            vertical-align: top;
            margin-top: -2px;
        }
    }
    h2 {
        font-size: 14px;
        color: #999999;
        line-height: 21px;
    }
}
.user_pay, .user_way {
    margin-bottom: 10px;
    background-color: #fff;
    h3, h4 {
        line-height: 48px;
        margin: 0 0 0 15px;
        font-size: 14px;
        color: #333333;
        span {
            float: right;
            margin-right: 15px;
        }
        .logoal {
            width: 18px;
            height: 18px;
            margin-right: 9px;
            vertical-align: middle;
            margin-top: -3px;
            color: #00A699;
        }
        .zhima {
            color: #00A0E8;
        }
    }
}

.user_way {
    h4 {
        line-height: 26px;
        &:first-of-type {
            padding-top: 10px;
            border-top: .9px solid #e6e6e6;
        }
        &:last-of-type {
            padding-bottom: 10px;
        }
    }
    p {
        font-size: 13px;
        color: #CB9A04;
        line-height: 35px;
        background: #FFF1B0;
        padding: 0 15px;
    }
}
