.info_box {
    background-color: #F8F8F8;
    border-radius: 4px;
}

.product_box {
    padding: 12px 15px 0;
    
    .item {
        padding-bottom: 12px;
        border-bottom: 1px solid #eee;
    }

    .thumb {
        display: block;
        width: 64px;
        height: 64px;
    }
    
    .text {
        font-size: 14px;
        color: #333;
    }
}

.info_list {
    padding: 0 15px;
    font-size: 14px;
    color: #333333;

    .item {
        padding: 16px 0;
        border-bottom: 1px solid #eee;

        &:last-child {
            border-bottom: none;
        }
    }

    .icon {
        margin-left: 7px;
    }
}

.gray_red {
    line-height: 1;
    font-size: 13px;
    color: #FF5544;
}