.box {
    background-color: #fff;
    padding: 16px 15px 8px;
    &:last-child {
        padding-bottom: 60px;
        // min-height: 300px;
        // margin-bottom: 60px;
    }

    .title {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 16px;
    }
}
.prompt {
    font-size: 13px;
    color: #AAAAAA;
    line-height: 13px;
    padding: 16px 15px 0;
    background-color: #fff;
}
.bgcolor {
    background-color: #fff;
}
