.container {
    background-color: #F8F8F8;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px 16px;

    .title {
        margin-bottom: 8px;

        span {
            font-size: 14px;
            color: #222222;
            letter-spacing: 0;
            line-height: 14px;

            &:last-child {
                color: #ff5544;
            }
        }
    }

    p {
        font-size: 13px;
        color: #999999;
        letter-spacing: 0;
        line-height: 20px;
        width: 215px;
        margin: 0;
    }
}
