.common {
    background-color: #fff;
}
.info {
    margin: 0 15px;
    border-bottom: 1px solid #eee;
    padding: 24px 0;
    &:last-of-type{
        border-bottom: none;
    }
    h2{
        font-size: 18px;
        color: #333333;
        line-height: 18px;
        margin-bottom: 24px;
        font-weight: 400;
    }
    .step {
        text-align: center;
        img {
            width: 36px;
            height: 36px;
            margin-bottom: 9px;
        }
        p {
            font-size: 13px;
            color: #333333;
            line-height: 16px;
        }
    }
    .privilege {
        margin-bottom: 20px;
        &:last-of-type{
            margin-bottom: 0;
        }
        img {
            width: 24px;
            height: 28px;
            margin-right: 6px;
            margin-left: 3px;
        }
        h4 {
            font-size: 14px;
            color: #333333;
            line-height: 16px;
            font-weight: normal;
            font-family: PingFangSC-Medium;
        }
        p {
            font-size: 14px;
            color: #666666;
            line-height: 21px;
        }
    }
    .explain_tit {
        font-size: 14px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 4px;
        font-weight: normal;
        font-family: PingFangSC-Medium;
    }
    .explain_content {
        font-size: 14px;
        color: #666666;
        line-height: 21px;
        margin-bottom: 4px;
        &:last-of-type{
            padding-bottom: 20px;
        }
    }

}
