.CreditTips {
    line-height: 1;
    .creditInfo {
        margin:35px 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .creditIcon {
            width: 18px;
            height: 20px;
        }
        .creditTitle {
            font-family: PingFangSC-Medium;
            font-size: 18px;
            color: #333333;
            margin-left: 8px;
        }
    }
    .creditDesc {
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #666666;
    }
}