@import '../../../../themes/mixin.less';

.address_box {
    padding: 13.5px 0;
    background-color: #fff;
    position: relative;

    &::after {
        content: '';
        display: block;
        background: url('images/trade/address-bottom.png') center center repeat-x;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .empty_box {
        .label {
            display: block;
            font-size: 16px;
            color: @xhj-gray-dark;
            padding: 14px 0;
        }
    }

    .icon_edit {
        width: 16px;
        height: 16px;
    }
    .icon_dark{
        color:#333 !important;
        width: 18px;
        height: 18px;
    }

    .name {
        font-size: 16px;
        color: #222;
        display: block;
        line-height: 1;
    }
    :global {
        .am-list-body {
            border-color: #fff;
            &::before, &::after {
                background-color: #fff !important;
            }
        }
        .am-list-extra {
            flex-basis: 10% !important;
        }

        .am-list-brief {
            font-size: 14px !important;
            color: @xhj-gray-light !important;
            overflow: initial !important;
            text-overflow: initial !important;
            white-space: initial !important;
            line-height: 1.35 !important;
            margin-left: 0 !important;
        }
    }
    
    .add_limit {
        position: absolute;
        z-index: 99;
        top: 80%;
        left: 15px;
        .limit_text {
            background: #333;
            padding: 0 12px;
            border-radius: 4px;
            color: #fff;
            line-height: 29px;
            font-size: 12px;
            .icon {
                width: 15px;
                height: 15px;
                margin-left: 8px;
            }
        }
        .jiao {
            display: block;
            margin-left: 12px;
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-bottom: 5px solid #333;
        }
        
    }
    
    &.dark {
        padding: 12.5px 0;

        &::after {
            height: 0;
        }
        .infoTit{
            font-size: 16px;
            color: #333333;
            margin-top: 3.5px;
            margin-bottom: 16px;
            margin-left: 15px;
            font-family: PingFangSC-Medium;
        }
        .add_limit {
            left: 28.5px;
            top: 73%;
        }
        .name, .empty_box .label {
            font-family: PingFangSC-Semibold;
            font-size: 18px;
            color: #333333;
            display: block;
            line-height: 18px;
        }

        .empty_box .label {
            margin-bottom: 0.18rem;
        }

        .icon_edit {
            color: #fff;
        }

        :global {
            .am-list{
                width: 345px;
                margin: 0 auto;
                .am-list-body {
                    background: #F8F8F8 !important;
                    border-radius: 4px !important;
                    .am-list-item {
                        background: #F8F8F8 !important;
                        border-radius: 4px !important;
                        .am-list-line-multiple{
                            padding:26px 18px 25px 0;
                        }
                    }
                }
            }
        }
    }
}
