.form_box {
    padding-top: 15px;

    :global {
        .am-list-content, .am-list-extra {
            font-size: 14px !important;
        }
    }

    .item_phone {
        :global {
            .am-list-extra {
                color: #333 !important;
            }
        }
    }

    .btn_red {
        color: #ff5544;
        display: block;
        text-align: center;
    }
}