.contentBox {
    padding: 32px 15px 30px;
    background: #fff;
    .title {
        margin-bottom: 18px;
        font-size: 18px;
        text-align: center;
    }

    .text {
        font-size: 14px;
        line-height: 21px;
        color: #666;
    }
}

.successBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #fff;
    >svg {
        width: 18px;
        height: 18px;
        margin-right: 7px;
    }
}

