
.detail {
    margin: 16px 15px;
    .detail_state {
        position: relative;
        height: 129px;
        border-radius: 4px;
        background: #FFF6DD;
        padding: 4px;
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 84px;
            height: 71px;
        }
        .detail_bg {
            border: 1px solid rgba(165,122,0,0.05);
            border-radius: 2px;
            border-radius: 2px;
            height: 121px;
            padding: 12px 11px;
            color: #A57A00;
            position: relative;
            h3 {
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 6px;
            }
            p {
                font-size: 13px;
            }
            .btn {
                position: absolute;
                bottom: 12px;
                right: 3px;
                display: flex;
                justify-content: flex-end;
                a,span {
                    width: 72px;
                    height: 24px;
                    color: #A57A00;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 22px;
                    font-size: 14px;
                    border-radius: 4px;
                    margin-right: 8px;
                    border: 1px solid rgba(165,122,0,0.50);
                }
                .btn_kefu {
                    background-color: #fff;
                }
            }
        }
    }
    .cancel_state {
        background: #F8F8F8;
        .detail_bg{
            border: 1px solid rgba(102,102,102, 0.05);
            color: #333;
            p {
                color: #AAAAAA;
            }
            .btn {
                a {
                    border: 1px solid #DDDDDD;
                    color: #333;
                }
                span{
                    border: none;
                    background: #FF5544;
                    color: #FFFFFF;
                }
            }
        }
    }
    h2 {
        font-size: 14px;
        color: #000000;
        font-weight: normal;
        margin: 24px 0 11px;
    }
    .receive {
        background: #F8F8F8;
        border-radius: 4px;
        padding: 16px 15px 52px;
        position: relative;
        margin-bottom: 12px;
        h3 {
            font-size: 14px;
            color: #333333;
            line-height: 21px;
            font-weight: normal;
            border-bottom: .5px solid #eee;
            padding-bottom: 8px;
            margin-bottom: 8.5px;
            span {
                background: #FFDDDA;
                border-radius: 4px;
                display: inline-block;
                height: 21px;
                padding: 0 5px;
                font-size: 12px;
                color: #FF5544;
                margin-right: 5px;
            }
            .hebing {
                background: #D9F3F0;
                color: #00AA99;
            }
        }
        p {
            font-size: 14px;
            color: #AAAAAA;
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .btn {
            position: absolute;
            bottom: 16px;
            right: 4px;
            display: flex;
            justify-content: flex-end;
            a,span {
                min-width: 72px;
                height: 24px;
                background: #FFFFFF;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
                font-size: 14px;
                box-sizing: border-box;
                line-height: 22px;
                color: #333333;
                text-align: center;
                margin-right: 11px;
            }
        }
    }
}
