.orderBox {
    margin: 0 15px;
    padding: 16px 15px;
    background-color: #f8f8f8;
    border-radius: 4px;
    display: flex;
    .img {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        margin-right: 16px;
        border-radius: 4px;
    }
    .content {
        .name {
            font-size: 14px;
        }
        .price, p {
            margin-bottom: 8px;
            font-size: 13px;
            color: #333;
        }
        .icon_question {
            width: 13px;
            height: 13px;
            margin-left: 8px;
            color: #00A699;
        }
    }
}

.popup {
    .fee {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #333;
        line-height: 28px;
    }
    p {
        font-size: 13px;
        color: #999;
        line-height: 16px;
        margin-bottom: 10px;
        margin-top: 6px;
    }
}
