.container {
    margin: 12px 15px;
    border-radius: 4px;
    :global {
        .am-list-item {
            background-color: #f8f8f8;
        }
        .am-list-item .am-list-line .am-list-brief {
            margin-top: 0;
            margin-left: 16px;
            font-size: 13px;
            color: #aaa;
        }
        .am-list-arrow {
            width: 12px !important;
            height: 12px !important;
        }
    }
}
