.box {
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .icon {
      width: 175px;
      height: 175px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .btn_box {
        display: flex;
        width: 245px;
        justify-content: space-between;
        padding-top: 10px;

        .btn {
            color: #ff5544;
            border: 1px solid currentColor;
            padding: 10px 20px;
            border-radius: 5px;
        }

        .btn_blue {
            color: #5FACFB;
        }
    }

    .msg {
        width: 100%;
        overflow-wrap: break-word;
        line-height: 1.5;
        text-align: center;
    }
  }

.phone, .help_btn {
    color: #333;
}
