.box {
  height: calc(55vh);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.box .icon {
  width: 175px;
  height: 175px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box .btn_box {
  display: flex;
  width: 245px;
  justify-content: space-between;
  padding-top: 10px;
}
.box .btn_box .btn {
  color: #ff5544;
  border: 1px solid currentColor;
  padding: 10px 20px;
  border-radius: 5px;
}
.box .btn_box .btn_blue {
  color: #5FACFB;
}
.box .msg {
  width: 100%;
  overflow-wrap: break-word;
  line-height: 1.5;
  text-align: center;
}
.phoneBox {
  line-height: 1;
  color: #333;
}
.phoneBox .phone {
  vertical-align: middle;
}
