.container {
    margin-top: 16px;
    height: 48px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
}

.location {
    height: 100%;
    padding: 0 15px;
    flex: 1;
}

.relocateLoading,
.relocate {
    height: 100%;
    padding: 0 15px;

    span {
        color: #2CB5A9;
        padding-left: 4px;
    }
}

.relocateLoading {
    opacity: 0.5;
}
