.box {
    background-color: #fff;
    .row {
        margin-left: 15px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 14px;
        color: #333333;
        line-height: 48px;
        padding-right: 15px;
        &:last-of-type{
            border-bottom: none;
        }
        .to_icon {
            width: 12px;
        }
    }
}
// :global {
//     .am-tabs-tab-bar-wrap {
//         position: fixed;
//         // top: 45px;
//         left: 0;
//         right: 0;
//         z-index: 990;
//     }
//     .am-tabs-default-bar-underline {
//         width: 17.33% !important;
//         margin-left: 8%;
//     }
// }
