@import '../../../../themes/mixin.less';

.coupon_list {
    padding-top: 0;
    margin-top: -3px;
}

.item {
    font-size: 14px;
    color: #222222;
    line-height: 14px;

    .left {
        max-width: 212px;
    }

    .icon_coupon {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }

    .price {
        font-size: 14px;
        color: @xhj-gray-dark;
        text-align: right;
        line-height: 14px;
    }
}



