@import '../../../../themes/mixin.less';

.product_info {
    display: flex;
    align-items: center;
}

.thumb {
    width: 64px;
    height: 64px;
}

.text {
    font-size: 14px;
    color: @xhj-gray-dark;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 15px;
}

