@import '../../../themes/mixin.less';

.item_box {
    margin-top: 10px;
    background-color: #fff;
    padding-left: 15px;

    .item {
        padding: 16px 15px 18px 0;
        border-bottom: 1px solid #E6E6E6;
        font-size: 14px;
        color: @xhj-gray-dark;
        line-height: 14px;

        &:last-child {
            border-bottom: none;
        }

        .sub_label {
            color: @xhj-gray-light;
            margin-left: 8px;
        }

        .icon {
            height: 18px;
            color: #2CBBF2;
        }
    }
}