@import '../../../themes/mixin.less';

.top_box {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 32px;
    text-align: center;
    font-size: 14px;
    color: @xhj-gray-light;

    .title {
        font-size: 18px;
        color: @xhj-gray-dark;
        line-height: 18px;
        margin-bottom: 9px;

        .icon {
            background-color: #FACD2F;
            color: #fff;
            border-radius: 4px;
            padding: 2px;
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
    }

    .price {
        font-size: 24px;
        color: @easeu-color;
        margin: 24px 0 8px;
    }
}

.text_box {
    background-color: #fff;
    padding: 16px 15px;
    font-size: 14px;
    color: @xhj-gray;
    line-height: 28px;

    span {
        color: @easeu-color;
        margin-right: 8px;
    }
}