@import "../../../../themes/mixin";

.container {
    background-color: @xhj-white;
    height: calc(100vh - 166px);
    .top {
        height: 100%;
        .icon {
            width: 60px;
            height: 60px;
            margin-bottom: 16px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            color: #999999;
            text-align: center;
        }
        .button {
            width: 97px;
            height: 32px;
            line-height: 32px;
            margin-top: 24px;
            span {
                font-size: 13px;
            }
        }
    }

    .cs_box {
        padding: 16px 15px 0;
    }
}
