@import "../../themes/mixin.less";

.footer_box {
    margin-top: 30px;
    .text {
        color: @xhj-gray-light;
        display: block;
        text-align: center;
        font-size: 14px;
    }
    .link {
        color: @xhj-blue;
    }
}