@import "../../../../themes/mixin";

.list {
    padding: 16px 15px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    line-height: 21px;
    .item {
        margin-bottom: 24px;      
    }
    .text{
        font-size: 14px;
        color: #666666;
        line-height: 21px;
    }
    .icon {
         width: 18px;
         height: 18px;
         display: inline-flex;
         justify-content: center;
         align-items: center;
         background-color: #bbb; 
         border-radius: 4px;
         line-height: 18px;
         color: #fff;
         font-size: 14px;
         margin-right: 4px;
    }
    a {
        color: #108EE9;
        margin-left: 3px;
    }
    .xhjphone{
        a{
            color: #00aa99;
        }
        
    }
    .process {
        background: #F8F8F8;
        border-radius: 4px; 
        padding: 16px 0;
        margin-top: 12px;
        img {
            width: 32px;
            margin-bottom: 8px;
        }
    }
}
.smail{
    background-color: #fff;
    >div{
        padding-top: 0 !important;
    }
}
.content {
    background-color: #fff;
    // .xhj_icon {
    //     background-color: #FE5649;
    // }
}
