@import "../../../../themes/mixin.less";
.box_title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: @xhj-gray-dark;
    letter-spacing: 0;
    line-height: 1;
    padding: 0px 0px 15px;
}

.box_content {
    background: #F8F8F8;
    border-radius: 4px;
    padding: 15px;
}

.box{
    margin-bottom: 24px;
}