@import '../../../../themes/mixin.less';

.line {
    font-size: 14px;
    color: @xhj-gray-dark;
    line-height: 14px;
    margin-bottom: 16px;
}

.line_price {
    font-size: 10px;
    color: #AAAAAA;
    line-height: 14px;
    margin-right: 2px;
    text-decoration: line-through;
}

.rent_price_tips {
    font-size: 12px;
    color: #AAAAAA;
    line-height: 18px;
}