@import "../../../themes/mixin.less";

.top_box {
    position: relative;
    background: url('images/account/center/top-bg.png') #F97164 no-repeat center -20px;
    background-size: 100%;

    .top {
        padding: 24px 20px;
        color: #fff;

        img {
           display: block;
           height: 52px;
           width: 52px; 
           margin-right: 14px;
           border-radius: 50%;
        }
    }
}
