
.store_details {
    margin-top: 10px;
    background-color: #fff;
    padding-left: 15px;
    .store_oy {
        border-bottom: 1px solid #EEEEEE;
        padding: 14px;
        padding-left: 0;
        font-size: 14px;
        color: #333333;
        line-height: 20px;
        &:last-of-type{
            border-bottom: none;
        }
        .store_tit {
            min-width: 72px;
            font-size: 14px;
            color: #333333;
            font-weight: normal;
        }
    }
}
.store_btn {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
}
