.wrap {
    position: relative;
}

.xl {
    padding: 24px 15px;
}

.lg {
    padding: 22px 15px;
}

.md {
    padding: 16px 15px;
}

.sm {
    padding: 12px 15px;
}

.xs {
    padding: 10px 15px;
}

.xxs {
    padding: 8px 15px;
}
