.top_box {
    height: 136px;
    background: url('images/enterprise/top-bg-sm.png') center center no-repeat;
    background-size: cover;

    .list {
        padding-left: 27px;
        .avatar {
            width: 56px;
            height: 56px;
            margin-right: 16px;
        }

        p {
            font-size: 18px;
            color: #FFFFFF;
            font-weight: bold;
            margin-bottom: 5px;
        }

        span {
            font-size: 12px;
            color: #FFFFFF;
            opacity: 0.4;
        }

        .icon {
            opacity: 0.3;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            color: linear-gradient(-180deg, #EED09D 0%, #E3BE83 100%);
        }
    }
}