.recommend {
    position: relative;
    margin: -220px 12px 28px;
    border-radius: 10px;
    box-shadow:0px 15px 24px 0px rgba(215,74,49,0.38);
    background-color: #ffffff;
    z-index: 3;
    padding: 25px 10px 15px;
    .title {
        font-size: 17px;
        // font-family:HiraginoSansGB-W6;
        font-weight:bold;
        color:rgba(34,34,34,1);
        text-align: center;
        margin-bottom: 18px;
    }
    .threeways {
        img:nth-child(1) ,img:nth-child(3){
            height: 121px;
        }
        img:nth-child(2) {
            margin-left: 7px;
            // height: 133px;
            width: 34.5%;
        }
    }
}