.btm_logo {
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    text-align: center;
    .huabei {
        width: 116px;
    }
    .logo_tit {
        font-size: 12px;
        color: #CCCCCC;
        line-height: 12px;
        margin-top: 12px;
    }
}
