.button {
    padding: 0 15px;
    .btn {
        margin: 24px 0;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        border-radius: 4px;
        font-size: 16px;
        letter-spacing: 0;
        .back {
            background: #fff;
            color: #333333;
            margin-right: 15px;
        }
        .order {
            background: #FF5544;
            color: #fff;
        }
    }
    .serviceTerms { 
        text-align: center;
        line-height: 13px;
        a {
            text-decoration: none;
            font-size: 13px;
            color: #00A699;
            letter-spacing: 0;
        }
    }
}
