.success {
    background-color: #fff;
    text-align: center;
    padding: 32px 15px 16px;
    .rus_need {
        background: rgba(255,183,102,0.10);
        border: .5px solid #FFB766;
        border-radius: 4px;
        padding: 16px 13px;
        margin-top: 24px;
        .need_tit{
            font-size: 14px;
            color: #333333;
            margin-bottom: 12px;
            font-weight: normal;
        }
        .need_con {
            font-size: 13px;
            color: #999999;
            line-height: 20px;
            text-align: left;
        }
    }
}

.rus_img {
    width: 60px;
    height: 60px;
    margin-bottom: 18px;
}
.rus_title {
    font-size: 18px;
    color: #222222;
    line-height: 18px;
    font-weight: normal;
}
.rus_content {
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    margin-top: 9px;
}

.btn_box {
    padding: 30px 20px 0;

    .msg {
        text-align: center;
        margin-top: 10px;
        color: #666;
        font-size: 14px;
    }
}