.rusult {
    background-color: #fff;
    padding: 32px 38px 24px;
    text-align: center;
    .shenhe {
        position: absolute;
        color: #fff;
        width: 60px;
        height: 60px;
    }
    
}
.success {
    background-color: #fff;
    text-align: center;
    padding: 32px 15px 0;
    .rus_need {
        background: #F8F8F8;
        border-radius: 4px;
        padding: 20px;
        margin-top: 32px;
        text-align: left;
        .need_tit{
            font-size: 14px;
            color: #333333;
            margin-bottom: 12px;
            font-weight: normal;
            letter-spacing: 0;
            line-height: 14px;
        }
        .need_con {
            font-size: 13px;
            color: #999999;
            line-height: 20px;
           
        }
    }
}
.rus_img {
    width: 60px;
    height: 60px;
    margin-bottom: 18px;
}
.rus_title {
    font-size: 18px;
    color: #222222;
    line-height: 18px;
    font-weight: normal;
}
.rus_content {
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    margin-top: 9px;
}
