
.qua_detail  {
    background-color: #fff;
    font-size: 13px;
    color: #333333;
    line-height: 21px;
    padding: 15px;
    margin-bottom: 10px;
    .detail_tit {
        font-weight: normal;
        min-width: 66px;
        font-size: 13px;
        color: #333333;
    }
}
