@import "../../themes/mixin";

.veriCodeBtn {
    width: 100px;
    color: @primary-color;
    font-size: 14px;
    outline: none;
    flex-shrink: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    background-color: #fff;

    &:before {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:disabled {
        color: rgba(254, 86, 73, 0.5);
    }

    span {
        font-size: 14px;
    }
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .panel {
        width: 300px;
        padding: 24px 15px;
        border-radius: 4px;
        background-color: #fff;
        position: relative;
        margin-top: 120px;

        .close {
            position: absolute;
            right: 0;
            top: 0;
            color: #999;
            padding: 16px;
        }

        p {
            margin-top: 32px - 24px;
            text-align: center;
            font-size: 16px;
            color: #333;
        }

        .tip {
            height: 48px;
            text-align: center;
            padding-top: 9px;
            font-size: 12px;
            color: @primary-color;

            span {
                line-height: 24px;
            }
        }

        .imageInput {
            border: 1px solid #f2f2f2;
            flex: 1;
            height: 48px;

            :global {
                .am-list-line:after {
                    content: none !important;
                }

                .am-input-control {
                    input {
                        font-size: 14px;
                    }
                }
            }
        }

        .captchaImage {
            width: 82px;
            height: 48px;
        }

        img {
            display: block;
            width: 82px;
        }
    }
}
