.container {
  position: relative;
}

.image {
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
}

.imageHidden {
  .image();
  opacity: 0;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
