.marquee_box {
    height: 38px;
    line-height: 38px;
    background: #FFF8D3;
    font-size: 13px;
    color: #A67514;
    padding-left: 15px;

    .icon {
        height: 16px;
        width: 16px;
        margin-right: 8px;
    }
}