.rent_box {
    background-color: #fff;
    margin-top: 10px;
    padding: 16px 15px;
    font-size: 14px;
    color: #333333;

    .link {
        color: #2CB5A9;
    }

    .icon {
        height: 16px;
        color: #00A699;
    }
}