.content_box {
    padding: 24px 15px;
    background-color: #fff;
    text-align: center;
    line-height: 24px;

    .top {
        margin-bottom: 40px;

        .icon_box {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 16px auto 24px;
    
            .icon {
                width: 60px;
                height: 60px;
                color: #fff;
            }
        }

        .icon_credit {
            background-color: #24CB92;

            .icon {
                width: 40px;
                height: 40px;
                color: #fff;
            }
        }
    }

    .bottom {
        background-color: #fef7f0;
        border: 1px solid #FFB766;
        padding: 24px;

        .title {
            color: #222;
            margin-bottom: 16px;
            display: block;
        }

        span {
            color: #666;
            font-size: 14px;
        }

        .btn_blue {
            display: inline-block;
            line-height: 1;
            font-size: 13px;
            padding: 10px 15px;
            color: #fff;
            background-color: #5FACFB;
            margin-top: 24px;
        }
    }
}