
.city_list {
    background-color: #fff;
    padding: 4px;
    padding-top: 16px;
    .list_item {
        border: 1px solid #DDDDDD;
        border-radius: 1px; 
        min-width: 78px;
        text-align: center;
        line-height: 28px;
        margin-left: 12px;
        margin-bottom: 12px;
        font-size: 13px;
        color: #333333;
        font-family: PingFangSC-Regular;
    }
    .list_item_click {
        background: rgba(254,86,73,0.05);
        border: 1px solid #FE5649;
        color: #FE5649;
    }
}
