.listWrapper {
    :global {
        .am-indexed-list-section-header .am-list-item {
            height: 37px;
            padding-left: 15px;
            background-color: #f2f2f2;
            .am-list-line {
                height: 37px;
            }
            .am-list-content {
                padding: 16px 0 8px;
                font-size: 13px;
                color: #999;
                line-height: 13px;
            }
        }
        .am-indexed-list-quick-search-bar {
            top: 50%;
            transform: translateY(-50%);
            color: #333;
            font-size: 12px;
            background-color: rgba(255, 255, 255, 0.5);
            line-height: 17px;
            width: 17px;
            padding: 7px 0;
            z-index: 20;
        }
        .am-list-header {
            padding: 0;
        }
    }
}

.topWrapper {
    padding-top: 15px;
    > span {
        padding-left: 15px;
    }
    .wrapper {
        display: flex;
        background-color: #fff;
        padding: 10px;
        margin-top: 8px;
        flex-wrap: wrap;
    }

    .tag {
        width: 78px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 1px;
        margin: 6px 5px;
        flex-shrink: 1;
        box-sizing: border-box;
        font-size: 13px;
        color: #333;
    }
}

.sectionTitle {
    padding: 16px 15px 8px;
    color: #999999;
    font-size: 13px;
}
