.container {
    width: 100%;
    height: calc(100vh - 45px);
}
.storeName {
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    padding: 0 15px;
    max-width: 345px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 32px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 2px;
}

:global .amap-logo,
:global .amap-copyright {
    display: none !important;
}
