.smallImg {
    position: fixed;
    bottom: 66px;
    right: 15px;
    width: 72px;
    border-radius: 2px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    .img {
        width: 240px;
        height: 320px;
    }
    .iconWrap {
        width: 40px;
        height: 40px;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 40px;
        background-color: rgba(0, 0, 0, .5);
        text-align: center;
        border-radius: 50%;
    }
    .iconClose {
        width: 24px;
        height: 24px;
        color: #fff;
        
    }
}
