:global .am-list-item {
    .am-input-label {
        margin-right: 0;
        &.am-input-label-5 {
            width: 80px;
        }
    }
    .am-input-control {
        input {
            height: 100%;
        }
    } 
} 
.title {
    margin: 16px 0 8px 15px;
    font-size: 13px;
    color: #999;
}

.btn {
    margin: 32px auto 0; 
    width: 300px;
    border-radius: 2px;
}

.hidden {
    opacity: 0;
}
