@import '../../themes/mixin.less';

.story_box {
    padding: 24px 16px 30px;

    h1 {
        font-size: 18px;
        color: #333333;
        font-weight: 500;
        margin-bottom: 30px;
    }

    .item {
        text-align: center;

        .icon {
            display: block;
            width: 36px;
            height: 36px;
            margin: 0 auto 12px;
        }

        p {
            font-size: 14px;
            color: #333333;
            line-height: 20px;
            margin-bottom: 4px;
        }

        span {
            font-size: 12px;
            color: #999999;
            line-height: 17px;
        }
    }
}

.bottom {
    background-color: #F6F7F9;
    padding: 24px 12px;
    text-align: center;

    .sign_link {
        color: @xhj-gray-light;
        display: flex;
        // margin-bottom: 16px;
        justify-content: center;

        img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
        }

        span {
            font-size: 14px;
        }
    }

    // .text {
    //     font-size: 12px;
    //     color: #CCCCCC;
    // }
}