.container {
    padding: 24px 12px 0;

    h1 {
        font-size: 18px;
        color: #333333;
        letter-spacing: 0;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .wrapper {
        height: 175px;

        img {
            border-radius: 4px;
        }
    }

    .left {
        background: #F6F7F9;
        border-radius: 4px;
        height: 175px;
        width: 173px;
    }

    .rightWrapper {
        height: 175px;
        width: 173px;

        .right {
            width: 173px;
            height: 85px;
            background: #F6F7F9;
            border-radius: 4px;
        }
    }
}
