.emptyWrapper {
    margin-top: 45px;
}

.container {
    margin-top: 45px;
    padding: 16px 0 0;
    margin-left: 1px;
    overflow: hidden;
    // touch-action: pan-y pinch-zoom;

    .item {
        height: calc(100vh - 130px);
        flex-shrink: 0;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        .top {
            height: 120px;
            border-radius: 8px 8px 0 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .bottom {
            padding: 24px 15px;
            flex: 1;
            height: calc(100vh - 250px);
        }

        .titleWrapper {
            display: flex;
            width: 100%;
            margin-bottom: 12px;

            h1 {
                font-size: 20px;
                color: #333333;
                letter-spacing: 0;
                line-height: 30px;
            }

            .price {
                color: #ff5544;
            }
        }

        .detailWrapper {
            flex: 1;
            width: 100%;

            p {
                font-size: 14px;
                color: #333333;
                line-height: 21px;
                max-height: 80%;
                overflow-y: auto;
                width: 100%;
                margin-bottom: 12px;
            }

            .button {
                width: 100%;
            }
        }
    }
}
