@import '../../../themes/mixin.less';

.tab_box {
    position: fixed;
    left: 0;
    top: 91.5px;
    bottom: calc(50px);
    bottom: calc(50px + env(safe-area-inset-bottom));
    width: 79px;
    z-index: 990;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    .item {
        height: 78px;
        font-size: 12px;
        color: #666;
        background-color: #F6F7F9;

        &.active {
            background-color: #fff;
            color: @xhj-gray-dark;
        }

        .icon {
          width: 32px;
          height: 32px; 
        }
    }
}