.tips_box {
    background: rgba(94,92,92,0.95);
    border-radius: 4px;
    padding: 12px 15px;
    color: #fff;
    font-size: 12px;
    position: fixed;
    z-index: 998;
    left: 12px;
    right: 12px;
    bottom: calc(50px);
    bottom: calc(50px + env(safe-area-inset-bottom));

    .link {
        color: #fff;
    }
}