.empty {
    margin-top: 200px;
    .icon {
        width: 60px;
        height: 60px;
        margin-bottom: 16px;
    }

    p {
        font-size: 12px;
        color: #AAAAAA;
        letter-spacing: 0;
        line-height: 18px;
    }

    .btn_box {
        margin-top: 10px;
        text-align: center;

        .btn_add {
            font-size: 14px;
            color: #00AA99;
        }
    }
}
