.popup {
    :global {
        .popup-body {
            padding: 0;
            height: 300px;
        }

        .am-list-thumb {
            align-self: flex-start;
            margin-top: 18px;
            margin-right: 12px !important;

            img {
                width: 18px;
                height: 18px;
            }
        }

        .am-list-brief {
            color: #AAAAAA !important;
            margin-bottom: 12px;
            line-height: 1 !important;
        }
    }
    .title {
        background-color: #f8f8f8;
        font-size: 12px;
        color: #AAAAAA;
        padding: 12px 15px;
    }

    .list {
        .item {
            padding-top: 9px;

            .text {
                display: block;
                font-size: 16px;
            }
        }

        .checkbox {
            display: inline-flex;
            width: 18px;
            height:18px;
            background: #fff;
            border: 1px solid #E9E9E9;
            border-radius: 50%;
            position: relative;
        }
    }

    .btn_submit {
        position: absolute !important;
        bottom: 0;
        left: 0;
        right: 0;
    }
}