.top_box {
    padding: 24px 15px;

    h4 {
        font-size: 16px;
        color: #333333; 
        margin-bottom: 16px;
    }

    .item {
        background: #F8F8F8;
        padding: 15px;
        border-radius: 4px;

        img {
            width: 18px;
            height: 18px;
            margin-right: 12px;
        }
    }
}