@import '../../../../../../themes/vars.less';
.resultBox {
    margin: 15px 15px 12px;
    background-color: #f8f8f8;
    border-radius: 4px;
    .body {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        .content {
            flex-basis: 68%;
        }
        .title {
            margin: 20px 0 8px;
            font-size: 16px;
            font-weight: 500;
        }
        .tips {
            font-size: 13px;
            line-height: 21px;
            color: #666;
            >span {
                color: @primary-color;
            }
        }
        .icon {
            margin-top: 10px;
            width: 72px;
            height: 72px;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 24px 15px 16px;
        .btnCall {
            width: 99px;
            height: 24px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 13px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            color: #666;
            font-size: 12px;
            .iconPerson {
                margin-left: 2px;
                width: 20px;
                height: 20px;
            }
            .iconPhone {
                padding: 0 7px 0 5px;
                box-sizing: content-box;
                width: 12px;
                height: 12px;
                color: #aaa;
                border-left: 1px solid #eee;
            }
        }
        .btns {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .btn {
            margin-left: 8px;
            font-size: 14px;
            color: #666;
            line-height: 24px;
            padding: 0 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #fff;
        }
    }
}

.addressBox {
    margin: 0 15px 12px;
    background-color: #f8f8f8;
    border-radius: 4px;
    .userInfo {
        color: #222;
        font-size: 14px;
    }
    :global {
       .am-list-line .am-list-content {
            display: flex;
            padding: 14px 0;
        }
        .am-list-line .am-list-brief {
            display: block;
            margin-top: 0;
            font-size: 13px;
            color: #aaa;
            margin-left: 16px;
            overflow: visible;
            width: 75%;
            flex-shrink: 0;
            text-overflow: unset;
            white-space: normal;
        }
    }
}
