@import '../../../../../../themes/vars.less';

.popUpTime { 
    .body {
        padding: 0;
    }
    .active {
        :global {
            .am-list-line .am-list-content {
                color: @primary-color !important;
            }
        }
    }
    :global {
        .am-flexbox-align-center {
            border-bottom: none !important;
        }
        .am-list-item .am-list-line .am-list-content {
            flex: 0;
            flex-basis: 27%;
            color: #333;
        }
        .am-list-item .am-list-line .am-list-extra {
            flex-basis: 6%;
        }
        .am-list-item .am-list-line:after {
            height: 0 !important;
        }
        .am-radio-inner:after {
            width: 5px;
            height: 10px;
        }
        .am-tabs-default-bar-tab-active {
            color: @primary-color;
        }
        .am-tabs-default-bar-underline,
        .am-radio.am-radio-checked .am-radio-inner:after {
            border-color: @primary-color;
        }
        .am-tabs-pane-wrap {
            padding-bottom: 44px;
            height: 100%;
        }
        .am-list-item.am-list-item-active {
            background-color: #fff;
        }
    }
    .btn {
        position: absolute !important;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 44px;
    }
}
