@import "../../../../../../themes/mixin.less";
.info {
    margin: 16px 15px 0;
    padding: 0 15px;
    border-radius: 4px;
    background-color: #f8f8f8;
    .infoItem {
        font-size: 14px;
        min-height: 48px;
        color: #222222;
        // padding-right: 15px;
        border-bottom: .5px solid #EEEEEE;
        &:last-of-type{
            border-bottom: none;
        }
        input{
            // line-height: 30px;
            width: 100%;
            .placeholderColor(#ccc);
            background-color: #f8f8f8;
            border: 0;
            &:disabled{
                .placeholderColor(#ccc);
                opacity: 1;
                background-color: #f8f8f8;
            }
        }
        :global {
            .am-list-item {
               padding-left: 0 !important; 
               background-color: #f8f8f8;
               max-height: 47px !important;
            }
            .am-list-line {
                max-height: 47px !important;
                box-sizing: border-box;
            }
        }
        .info_name {
            width: 80px;
        }
        .item2 {
            padding: 12px 0;
            line-height: 21px;
            p{
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;  
            }
            .gray {
                color: #666;
            }
        }
        .noChange {
            color: #999999;
            overflow: hidden;
            white-space:nowrap; 
            text-overflow:ellipsis;
        }
        .info_input {
            width: 265px;
            .icon_right {
                width: 12px;
                height: 12px !important;
                color: #ccc;
                .icon {
                    width: 100%;
                }
            }
            .disable {
                color: #999;
            }
        }
        
    }
}

.btn_submit {
    margin: 24px 15px 0;
}
