@import '../../../../../../themes/vars.less';
.infoBox {
    margin: 0 15px 32px;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 11px 0 9px;
    .item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px 0;
        color: #aaa;
        font-size: 14px;
        &:first-child{
            .time,
            .text {
                color: #333;
            }
        }
        &:first-child:before {
            height: 50%;
            top: 50%;
        }
        &:last-child:before {
            height: 50%;
            top: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            left: 93px;
            background-color: #eee;
        }
        &:after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 90px;
            background-color: #eee;
            border-radius: 50%;
        }
        .time {
            flex-shrink: 0;
            width: 66px;
            margin-right: 50px;
            text-align: right;
        }
        .date {
            font-size: 10px;
            margin-top: 6px;
        }
        .text {
            width: 210px;
            font-size: 13px;
            line-height: 20px;
        }
    }
    .itemReceive:after {
        content: '寄';
        left: 85px;
        background-color: #ccc;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12.5px;
        color: #fff;
        text-align: center;
    }
    .itemSign {
        &:after {
            content: '收';
            left: 85px;
            background-color: @primary-color;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12.5px;
            color: #fff;
            text-align: center;
        }
    }
}
