.orderBox {
    margin: 16px 15px 12px;
    padding: 0 15px;
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    .body {
        padding: 12px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        .img {
            width: 64px;
            height: 64px;
            margin-right: 12px;
            border-radius: 4px;
        }
        .name {
            line-height: 1.5;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        line-height: 48px;
        .btn {
            margin-left: 8px;
            padding: 1px 8px;
            background-color: #fff;
            font-size: 12px;
            color: #999;
            border: 1px solid #ddd;
            border-radius: 2px;
        }
    }
}
