@import "../../themes/mixin.less";

.modal_box {
    &.transparent {
        width: 80%;
    }

    .title {
        font-size: 16px;
        color: @xhj-gray-dark;
        font-weight: bold;
    }

    .text {
        font-size: 14px;
        color: @xhj-gray;
        text-align: left;
    }

    .footer {
        margin-top: 15px;
        .btn {
            display: block;
            line-height: 44px;
            background-color: @primary-color;
            color: #fff;
            border-radius: 5px;
        }
    }
}
