.item {
    display: block;   
    margin-bottom: 12px;

    .bg {
        padding: 23px 22px;
        border-radius: 4px;
        line-height: 1;
    }

    .icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }

    h5 {
        font-size: 16px;
        color: #333333;
        margin-bottom: 8px;
    }

    span {
        font-size: 14px;
        color: #AAAAAA;
    }

    .card {
        margin-top: 25px;
        font-family: DINPro-Medium;
        font-size: 20px;
        color: #333333;
        letter-spacing: 1px;
        line-height: 20px;
    }
}