.list_box {
    padding: 16px 15px;

    .btn_default {
        display: flex;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        color: #333333;
        background-color: #fff;
        margin-bottom: 12px;

        .icon {
            width: 18px;
            height: 18px;
            margin-right: 6px;
            transform: rotateZ(45deg);
        }
    }

    .btn_box {
        margin-top: 12px;

        span {
            background-color: transparent;
            border: 1px solid #ddd;
        }
    }
}

.empty_box {
    height: calc(100vh - 44px);
    font-size: 14px;
    color: #999;

    .icon {
        width: 60px;
        height: 60px;
        margin-bottom: 16px;
    }

    span {
        margin-bottom: 24px;
    }
}