.topmsg_modal_box {
    width: 300px;
    h2 {
        font-size: 18px;
        color: #333333;
        margin-bottom: 8px;
        text-align: center;
        font-weight: normal;
        margin-top: 13px;
    }
    p {
        font-size: 14px;
        color: #666666;
        line-height: 21px;
    }
    .button {
        background: #FE5649;
        border-radius: 4px;
        color: #fff;
        margin: 24px 0 0;
        height: 40px;
        line-height: 40px;
        font-weight: normal;
        font-size: 14px;
    }
    :global {
        .am-modal-body {
            padding: 0 30px 24px !important;
        }
    }
}
.bar {
    text-align: center;
}
