h1, h2, h3, h4, div, p, ul, li{
    margin: 0;
}

.user_header {
    background-color: #fff;
    height: 176px;
    padding: 24px 52px;
    text-align: center;
    font-family: PingFangSC-Medium;
    >h1 {
        font-size: 16px;
        color: #333333;
        line-height: 14px;
        font-weight: normal;
    }
    >h2 {
        font-size: 24px;
        color: #FE5649;
        line-height: 24px;
        font-weight: normal;
        margin: 24px 0;
    }
    >div {
        font-size: 14px;
        color: #999999;
        line-height: 21px;
    }
}
.user_botton {
    display: flex;
    justify-content: space-around;
    margin: 24px 7.5px 0;
    span,a {
        width: 165px;
        height: 44px;
        line-height: 44px;
        border-radius: 2px;
        background: #FE5649;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
    .feiyong {
        background-color: #fff;
        color: #333;
    }
}

.user_telservice {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #999999;
    text-align: center;
    line-height: 13px;
    a {
        color: #2CB5A9;
    }
}
