.tab_box {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 990;
    :global {
        .am-tabs-default-bar-underline {
            width: 56px !important;
            margin-left: 19px;
        }
    }  
}
