.box{
    width:345px;
    margin: 0 auto;
    overflow: hidden;
    .title{
        font-size: 14px;
        color: #999999;
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .list{
        display: flex;
        align-items: center;
        justify-content:space-between;
        width:345px;
        height:56px;
        background: #F8F8F8;
        .listCon{
            display: flex;
            align-items: center;
            padding-left: 15px;
            .listImg{
                display: block;
                width:24px;
                height:24px;
            }
            .listContit{
                font-size: 14px;
                color: #333333;
                padding-left: 12px;
            }
        }
        .listState{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #AAAAAA;
            padding-right: 15px;
            .stateIcon{
                width:13px;
                height: 13px;
                margin-left: 6px;
            }
        }
        .ready{
            color: #00AA99;
            .readyIcon{
                width:13px;
                height: 13px;
                margin-right: 6px;
            }
        }
    }
}