.box{
    width:100%;
    background: #fff;
    .lists{
        display: flex;
        justify-content: space-between;
        width: 7.2rem;
        height:.96rem;
        background: #fff;
        margin-left: .3rem;
        padding-right: .3rem;
        border-bottom: 1px #EEE solid;
        font-size:14px;
        line-height: .96rem;
    }
}