.item {
    display: block;
    height: 56px;
    background-color: #fff;
    .icon {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }
    :global {
        .am-list-line {
            height: 56px;
        }
        .am-radio-inner {
            width: 16px;
            height: 16px;
            top: 50% !important;
            transform: translateY(-50%);
            border: 1px solid #E9E9E9;
            background-color: #f7f7f7;
            border-radius: 50%;
        }
        .am-radio.am-radio-checked .am-radio-inner {
            border-width: 1px;
            background-color: #00A699;
        }
        .am-radio.am-radio-checked .am-radio-inner:after {
            border-color: #fff;
        }
        .am-radio-inner:after {
            width: 3px;
            height: 6px;
            top: 2px;
            left: 5px;
            border-width: 0 1px 1px 0;
        }
        .am-list-line:after{
            background-color: #eee !important;
        }
        .am-radio{
            height: 56px !important;
        }
    }
}
