.loadingBox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 186px;
    padding: 28px 0 16px;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    border-radius: 8px; 
    color: #fff;
    font-size: 14px;
    transform: translate3d(-50%, -50%,0);
    .text {
        margin-top: 22px;
    }
}
