.share_box {
  position: absolute;
  top: 8px;
  right: 0;
  width: 70px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  font-size: 13px;
  color: #a1a1a1;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  .btn_share {
    margin-right: 6px;
    width: 18px;
    color: #a1a1a1;
  }
}