.container {
  padding-bottom: 10px;
  background-color: #f2f2f2;
  &:last-child {
    padding-bottom: 0;
  }

  .inner {
    background-color: white;

    .topWrapper {
      padding: 9px 15px;
      width: 100%;
      font-size: 13px;
      color: #222222;
      letter-spacing: 0;
    }

    .detailWrapper {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      background: #F9F9F9;
      font-size: 14px;
      color: #666666;
      letter-spacing: 0;
      line-height: 20px;

      img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        display: block;
        object-fit: cover;
      }

      span {
        width: 154px;
      }
    }

    .buttonWrapper {
      width: 100%;
      box-sizing: border-box;
      padding: 8px 15px;

      .button {
        width: 70px;
        height: 30px;
        line-height: 28px;

        span {
          font-size: 13px;
          color: #222222;
          text-align: center;
          line-height: 15px;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 10px;
}

.empty {
  margin-top: 167px;
  .image {
    width: 88px;
    height: 88px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    color: #666;
  }
}

