.topshow {
    text-align: center;
    background-color: #fff;
    padding-bottom: 16px;
    .main_img {
        margin: 32px auto 24px;
        width: 90px;
        height: 64px;
    }
    h2 {
        font-size: 18px;
        color: #333333;
        line-height: 27px;
        font-weight: 400;
    }
    .introduce {
        margin: 16px 0;
        padding-top: 4px;
        border-right: 1px solid #eee;
        text-align: center;
        img {
            width: 24px;
            margin-bottom: 12px;
        }
        p{
            font-size: 12px;
            color: #666666;
            line-height: 18px;
        }
    }
    .link_info {
        font-size: 14px;
        color: #00AA99;
    }
}
