.container {
    padding-bottom: 10px;
    overflow-x: hidden;
    position: relative;

    .callback {
        width: 36px;
        height: 36px;
        background-color: rgba(0,0,0,.2);
        text-align: center;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        top: 4px;
        left: 7px;
        .back {
            color: #fff;
        }
    }

    .topImage {
        height: 205px;
        width: 100%;
        display: block;
        transition: all 0.3s ease;
    }

    .titleWrapper {
        margin: -13px 12px 0;
        padding: 15px 35px;
        border-radius: 4px;
        background-color: white;
        position: relative;

        .title {
            margin-bottom: 10px;

            .logo {
                display: block;
                width: 48px;
                height: 16px;
                margin-right: 8px;
            }

            h1 {
                font-size: 15px;
                color: #323232;
                letter-spacing: 0;
            }
        }

        .brand {
            img {
                width: 11px;
                height: 11px;
                display: block;
                margin-right: 6px;
            }

            span {
                font-size: 10px;
                color: #323232;
            }
        }
    }
}
