
.store_tit {
    position: sticky;
    top: 45px;
    background-color: #fff;
    line-height: 48px;
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    z-index: 10;
    span {
        color: #333333;
        margin: 0 10px 0 15px;
    }
}
.store_btn {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
    z-index: 10;
    
}
:global {
    .am-button-warning.am-button-disabled {
        background: #D3D3D3 ;
        opacity: 1 ;
        color: #FFFFFF ;
    }
    .am-button-warning {
        background: #FE5649;
    }
}
