.bgColor {
    background-color: #fff;
}

.stateBox {
    padding: 33px 15px 40px;
    text-align: center;
    font-size: 18px;
    color: #333333;
    img {
        width: 24px;
    }
    p {
        margin-top: 8px;
        font-size: 14px;
        color: #666666;
    }
}
