.bottom_box {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    font-size: 14px;

    .left {
        padding-left: 15px;
        flex-basis: 247px;
        span {
            margin-left: 8px;
            color: #FE5649;
        }
    }
}