@import "../../../../themes/mixin";

.item_box {
    .icon {
        width: 16px;
        height: 16px;
        color: @easeu-color;
        margin-left: 8px;
    }

    .sub_item {
        padding: 4px 0;
    }
}

.notice {
    height: 36px;

    :global {
        .am-notice-bar-content {
            margin-left: 0;
        }
    }
}
