.top_box {
    text-align: center;
    padding: 24px 52px;
    font-size: 14px;
    color: #999999;
    background-color: #fff;
    margin-bottom: 10px;

    .title {
        font-size: 16px;
        color: #333333;
        margin-bottom: 14px;

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            color: #00A699;
        }
    }
}

.payment {
  margin-bottom: 10px;
  .icon {
      margin-right: 5px;
      height: 16px;
      color: #00A0E8;

      &.union_icon {
          height: 22px;
      }
  }
}