@import '../../../themes/mixin.less';

.footer_box {
    font-size: 14px;
    margin-bottom: 50px;

    .list {
        background-color: #fff;
        padding: 15px;
    }

    .link {
        color: @xhj-blue;
    }

    .agree_box {
        padding: 20px 15px;

        .check_box {
            width: 20px;
            height: 20px;
            border: 1px solid #999;
            margin-right: 5px;

            &.active {
                color: @xhj-blue;
                border-color: @xhj-blue;
            }
        }
    }
}