@import '../../../themes/mixin.less';

.product_box {
    margin-bottom: 10px;

    .product {
        padding: 12px;
    }
    .thumb {
        display: block;
        width: 64px;
        height: 64px;
    }

    .text {
        font-size: 14px;
        color: @xhj-gray-dark;
    }
}