@import '../../../themes/mixin.less';

.bottom_box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;

    .submit {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 0;
        border: none;

        &::before {
            border: none !important;
        }
    }

    :global {
        .am-button-disabled {
            background-color: #D3D3D3 !important;
            opacity: 1;
            color: #fff;
        }

        .am-button-primary {
            background-color: @primary-color;
        }
    }
}