@import '../../../themes/mixin.less';

.step_box {
    padding: 18px;
    background-color: #fff;
    margin-bottom: 10px;
    color: @xhj-gray-dark;
    font-size: 12px;  

    .item {
        position: relative;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left-color: #ddd;
        }

        &:first-child {
            text-align: left;
            &::before {
                border: none;
            }
        }

        &:nth-child(2)::before {
            left: -8px;
        }
    }
}