@import "../../../themes/mixin";

.container {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
    .phone {
        font-weight: bold;
    }
  span {
    letter-spacing: 0;
    font-size: 14px;
    color: @xhj-gray-dark;
    line-height: 14px;

    &:last-child {
      font-size: 12px;
      color: #999;
      line-height: 12px;
    }
  }
}

.detail {
  p {
    margin: 0;
    font-size: 13px;
    color: @xhj-gray;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -2px -2px;
  &.oneLine {
    flex-wrap: nowrap;
  }
  .image {
    width: 112px;
    height: 84px;
    display: block;
    margin: 2px;
    object-fit: cover;
  }
}
