@import '../../../../themes/vars.less';
.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: calc(100vh - 300px);
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-overflow-scrolling:touch; 
}
.item {
    flex-basis: 48.7%;
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    &.active {
        color: @primary-color;
        border-color: @primary-color;
        background: rgba(254,86,73, .05);
        >a {
            color: @primary-color;
        }
    }
    >a {
        pointer-events: none;
        text-decoration:none; 
        color: #333;
    }
    >i {
        color: @primary-color;
        font-style: normal;
    }
}
