@import '../../../../themes/vars.less';
.noneBox {
    padding-top: 170px;
    text-align: center;
    .icon {
        width: 60px;
        height: 60px;
    }
    .text {
        margin: 16px 0 20px;
        font-size: 14px;
        color: #999;
    }
    .btn {
        display: inline-block;
        width: 96px;
        height: 32px;
        line-height: 32px;
        background-color: @primary-color;
        color: #fff;
        border-radius: 2px;
        font-size: 13px;
    }
}

