.searchBox {
    padding: 24px 15px 0;
    .title {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: 500;
    }
    .inputWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .searchInput {
        width: 100%;
        border-radius: 4px;
        &.showCancel {
            width: 309px;
        }
        .icon {
            width: 18px;
            height: 18px;
            color: #bbb;
        }   
    }
    .btnCancel {
        line-height: 48px;
        font-size: 14px;
        color: #666;
    }
    :global {
        .am-list-item{
            background-color: #f8f8f8;
        }
        .am-list-item .am-input-label.am-input-label-5 {
            width: 40px;
        }
        html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line:after {
            background-color: #f8f8f8;
        }
        html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line {
            border-bottom: none;
        }
        .am-list-line:after {
            background-color: #f8f8f8 !important;
        }
    }
}

.noneBox {
    margin: 16px 0 8px;
    font-size: 14px;
    color: #666;
    text-align: center;
    .text {
        font-style: normal;
        color: #151515;
    }
}

.resultBox {
    margin-top: 24px;
    padding: 0 15px;
}

.btn {
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px !important;
    line-height: 44px !important;
}

.recommendBox {
    padding: 16px 15px 50px;
    .title {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        color: #999;
    }
    .btnChange {
        display: flex;
        color: #666;
        .icon {
            width: 14px;
            height: 14px;
            margin-right: 8px;
            &.active {
                animation: circle .5s infinite linear;
            }
        }
    }
}

@keyframes circle {
    to {
        transform: rotate(1turn)
    }
}
