.buttonBox {
    padding: 0 15px;
    .agreement {
        margin: 17px 0 40px;
        font-size: 13px;
        color: #AAAAAA;
        line-height: 14px;
    }
    .statement {
        text-align: center;
        font-size: 12px;
        margin-top: 12px;
        color: #CCCCCC;
        line-height: 16px;
    }
    .link{
        color: #00A699;
    }
}
