.bgColor {
    background-color: #fff;
}

.stateBox {
    text-align: center;
    padding: 24px 20px;
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    img {
       width: 94px; 
    }
    h2 {
        font-weight: 500;
        margin: 16px 0 8px;
        font-size: 18px;
        line-height: 18px;
        color: #333;
    }
    p {
        padding: 0 50px;
    }
}
