.stepBox {
    margin: 0 15px;
    background: #F8F8F8;
    border-radius: 4px;
    padding: 0 15px;
    .step {
        border-bottom: .5px solid #eee;
        padding: 16px 0;
        font-size: 14px;
        color: #AAAAAA;
        line-height: 16px;
        h4 {
            font-weight: 500;
            font-size: 16px;
            color: #333333;
        }
        .done {
            color: #333333;
            .icon {
                margin-right: 4px;
            }
        }
        .type {
            font-size: 12px;
            margin-top: 8px;
            color: #00A699;
        }
        .content {
            margin-top: 8px;
            font-size: 12px;
            color: #AAAAAA;
            line-height: 13px;
            .price {
                color: #ff5544;
            }
        }
        &:last-of-type{
            border-bottom: none;
        }
    }
}

.prompt {
    background: #F8F8F8;
    font-size: 12px;
    color: #AAAAAA;
    line-height: 16px;
    padding: 10px 15px;
    text-align: left;
}
.body_box {
    padding-top: 0 !important;
    .type {
        padding: 15px 0;
        line-height: 1;
        font-size: 14px;
        color: #333333;
        border-bottom: .5px solid #eee;
        img {
            width: 18px;
            margin-right: 12px;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
}

.sheetDteail {
    padding: 4px 0 0;
    font-size: 14px;
    color: #333333;
    border-bottom: .5px solid #eee;
    >div {
        margin-bottom: 16px;
        line-height: 14px;
        span {
            font-weight: 500;
        }
    }
}

.total {
    font-size: 14px;
    color: #333333;
    margin-top: 16px;
    span {
        color: #FF5544;
        margin-left: 4px;
    }
}

