.agile {
    height: 100vh;
    width: 100vw;
    background-color: #FAF4F2;
    overflow: scroll;
        .animatedStyle {
            animation-duration: 2s;
            margin-top: 24px;
            text-align: center;
            .title {
                font-size: 29px;
                color: #FF4608;
                font-family:FZLTXHK--GBK1-0;
                font-weight: 100px;
                text-align: center;
            }
            .titleDec {
                margin-top: 10px;
                font-size: 13px;
                font-weight: 100;
                font-family:FZLTXHK--GBK1-0;
                color:rgba(135,135,135,1);
            }
        }
        .lottieProps_1,.lottieProps_3 {
            margin-top: 6px;
            position: relative;
            .titleLeft {
                position:absolute;
                left: 20px;
                z-index: 2;
                top: 29px;
                left: 45px;
                font-size:18px;
                font-weight:bold;
                color:rgba(51,51,51,1);
            }
            .decLeft {
                position:absolute;
                left: 45px;
                z-index: 2;
                top:61px;
                font-size:12px;
                font-family:FZLTXHK--GBK1-0;
                font-weight:200;
                color:rgba(51,51,51,1);
            }
        }
        .lottieProps_1 {
            .titleLeft {
                top: 40px;
            }
            .decLeft {
                top: 72px;
            }
        }
        .lottieProps_3 {
            margin-top: 6px;
        }
        .lottieProps_2,.lottieProps_4{
            position: relative;
            margin-top: 6px;
            .titleRight {
                position: absolute;
                left: 190px;
                z-index: 2;
                top: 29px;
                font-size:18px;
                // font-family:FZLTZHK--GBK1-0;
                font-weight:bold;
                color:rgba(51,51,51,1);
            }
            .decRight {
                position:absolute;
                left: 190px;
                z-index: 2;
                top:61px;
                font-size:12px;
                font-family:FZLTXHK--GBK1-0;
                font-weight:200;
                color:rgba(51,51,51,1);
            }
        }
}