.reason {
    height: 100vh;
    background-color: #FAF4F2;
    .bg_img {
        position: absolute;
        width: 100vw;
        z-index: 1;
        bottom: 0;
    }
    .page1_1 {
        width: 72px;
        margin-left: 58px;
        margin-top: 66px;
        display: block
    }
    .page1_2 {
        width: 72px;
        display: block;
        margin-left: 130px;
        position: relative;
        z-index: 2;
    }
    .page1_3 {
        width: 120px;
        display: block;
        margin-top: 27px;
        margin-left: 20px;
    }
    .page1_4 {
        position: absolute;
        width: 43%;
        right: 41px;
        top: 20%;
        z-index: 0;
    }
    .rea_title {
        animation-duration: 2s;
        z-index: 1;
        padding-left: 32px;
        padding-top: 39px;
        position: relative;
        p:first-child {
            font-size:26px;
            font-family:FZLTXHK--GBK1-0;
            font-weight:200;
            color:rgba(51,51,51,1);
        }
        p:nth-child(2) {
            font-family: FZLTXHK--GBK1-0;
            color: #FF4608;
            font-size: 45px;
            font-weight: 200;
            margin-top: 20px;
            position: relative;
            padding-left: 58px;
            span {
                position: absolute;
                left: 0;
                width: 45px;
                height: 45px;
                background-color: #FF4608;
                border-radius: 50%;
                font-size: 34px;
                color: #ffffff;
                font-weight: 200;
                text-align: center;
                line-height: 45px;
                margin-right: 10px;
                top: 2px;
            }
        }
        .parenter {
            margin-right: 140px; 
            text-align: center;
            p:first-child {
                margin-top: 50px;
                font-size: 14px;
                font-weight: bold;
                color:rgba(51,51,51,1);
            }
            p:last-child {
                margin-top: 15px;
                font-size: 12px;
                font-weight: 100;
                font-family:FZLTXHK--GBK1-0;
                color:rgba(51,51,51,1);
                padding-left: 0;
            }
        }
        
    }
    .lottieProps2 {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
    }
}





