.hot{
    width: 375px;
    position: relative;
    overflow: hidden;
    .hotbg{
        width:132.5px;
        height:14.5px;
        background-image: url('images/activitys/ExchangeCoupon/titbg2.png');
        background-size:cover;
        margin-top: 62px;
        margin-left: 121px;
    }
    .tit{
        font-size: 19px;
        font-weight:bold;
        color:rgba(154,110,77,1);
        position: absolute;
        left: 146px;
        top:50px;
    }
    .hotorders{
        width: 350px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        .hotorder{
            width:155px;
            height:254px;
            background:rgba(243,249,254,1);
            box-shadow:0px 4px 5px 0px rgba(162,201,227,0.26);
            border-radius:5px;
            margin-top: 20px;
            .hotorderImg{
                width:155px;
                height:145px;
                background:rgba(255,255,255,1);
                border-radius:5px 5px 0px 0px;
                overflow: hidden;
                img{
                    width: 145px;
                    height: 140px;
                    display: block;
                    margin: 5px auto 0;
                }
            }
            .hotorderInfo{
                overflow: hidden;
                .hotInfotit{
                    margin-top:18px;
                    margin-left:10px;
                    margin-right:10px;
                    width: 135px;
                    font-size:16px;
                    color:#464646;
                    font-weight:bold;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }
                .hotInfomsg{
                    margin-top:8.5px;
                    margin-left:10px;
                    font-size:12px;
                    color: #464646;
                    font-weight:400;
                    .hotprice{
                        color: #EC6050;
                    }
                }
                .hotInfoBtn{
                    margin-top:15px;
                    margin-bottom: 10px;
                    margin-left:10px;
                    width:72px;
                    height:24px;
                    background:rgba(233,115,101,1);
                    border-radius:12px;
                    text-align: center;
                    line-height: 24px;
                    font-size: 13px;
                    color: #fff;

                }
            }
        }
    }
    .checkbtn{
        width:330px;
        height:45px;
        background:rgba(233,115,101,1);
        box-shadow:0px 4px 5px 0px rgba(162,201,227,0.26);
        border-radius:5px;
        font-size:16px;
        font-weight:bold;
        color:rgba(255,255,255,1);
        text-align: center;
        line-height: 45px;
        margin: 25px auto 5px;
    }
}