.rule{
    width: 375px;
    position: relative;
    overflow: hidden;
    .rulebg{
        width:132.5px;
        height:14.5px;
        background-image: url('images/activitys/ExchangeCoupon/titbg2.png');
        background-size:cover;
        margin-top: 62px;
        margin-left: 121px;
    }
    .tit{
        font-size: 19px;
        font-weight:bold;
        color:rgba(154,110,77,1);
        position: absolute;
        left: 146px;
        top:50px;
    }
    .rulecon{
        width: 330px;
        margin: 20px auto 43px;
        font-size:14px;
        line-height:21px;
        font-weight:500;
        color:rgba(70,70,70,1);
        overflow: hidden;
        p{
            margin-top: 4px;
        }
    }
    .ruletips{
        width: 350px;
        margin: 0 auto 23.5px;
        position: relative;
        .tipscon{
            width: 227px;
            margin: 0 auto;
            font-size: 13px;
            font-weight:400;
            color:rgba(92,138,168,1);
            text-align: center;
            line-height:18px;
            a{
                color: #D98075;
                text-decoration: underline;
            }
        }
        .leftline{
            width: 50px;
            height: 1px;
            background: #5C8AA8;
            position: absolute;
            left: 0;
            top:15px;
        }
        .rightline{
            width: 50px;
            height: 1px;
            background: #5C8AA8;
            position: absolute;
            right: 0;
            top:15px;
        }
    }
}