.top{
    width: 375px;
    height: 509.5px;
    background-image: url('images/activitys/ExchangeCoupon/topbg.jpg');
    background-size:cover;
    overflow: hidden;
    position: relative;
    .tit{
        display: block;
        width: 312.5px;
        margin: 67.5px auto 0;
        font-size: 36px;
        color: #1F6FA4;
        text-align: center;
        line-height: 52px;
        font-weight:500;
    }
    .zhezhao{
        width:211px;
        height: 80px;
        position: absolute;
        top:61px;
        left:82px;
    }
    .fybg{
        width:132.5px;
        height:15px;
        background-image: url('images/activitys/ExchangeCoupon/titbg1.png');
        background-size:cover;
        position: absolute;
        left: 121.5px;
        bottom: 52px;
    }
    .foryou{
        color: #9A6E4D;
        font-size: 19px;
        position: absolute;
        left: 150.5px;
        bottom: 62px;
        font-weight:bold;
    }
    .cheaper{
        color: #464646;
        font-size: 15px;
        position: absolute;
        left: 61px;
        bottom: 40px;
        font-weight: 400;
    }
}