@import '../../../../themes/vars.less';
.noneBox {
    padding-top: 40px;
    text-align: center;
    .icon {
        width: 60px;
        height: 60px;
    }
    .tit{
        font-size: 18px;
        color: #333333;
        text-align: center;
    }
    .text {
        margin-top:12px;
        font-size: 14px;
        color: #666666;
        text-align: center;
    }
    .btns{
        width:345px;
        height:40px;
        margin:32px auto 0;
        display: flex;
        justify-content:space-between;
        .customerbtn{
            display: block;
            width: 167px;
            height:40px;
            border: 0.5px solid #DDDDDD;
            border-radius: 4px;
            font-size: 16px;
            color: #333333;
            text-align: center;
            line-height: 40px;
        }
        .btn {
            display: block;
            width: 167px;
            height:40px;
            background: #FE5649;
            border-radius: 4px;
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            line-height: 40px;
        }
    }
}

