@import '../../../themes/mixin.less';

.content_box {
    position: relative;
    .pro_list {
        :global {
            .slider-list {
                height: 300px !important;
            }
        }
        .topImg {
            height: 300px;

            img {
                display: block;
                height: 300px;
                width: auto;
                object-fit: cover;
                touch-action: pan-y pinch-zoom;
            }
        }
    }
    .callback {
        width: 36px;
        height: 36px;
        background-color: rgba(0,0,0,.2);
        text-align: center;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        top: 4px;
        left: 7px;
        .back {
            color: #fff;
        }
    }
    h4 {
        opacity: 0.2;
        background: #000000;
        border-radius: 12px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        min-width: 38px;
        line-height: 24px;
        position: absolute;
        z-index: 10;
        bottom: 12px;
        right: 7px;
        font-weight: normal;
    }

    .swiper_inner {
        position: absolute;
        z-index: 10;
        left: 16px;
        bottom: 12px;
        width: 290px;
        height: 24px;
        line-height: 24px;
        padding: 0 12px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 12px 12px 12px 2px;
        text-align: center;

        p {
            font-size: 12px;
            color: #666666;
            .ellipsis();
        }
    }
}

