.empty_box {
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding: 27px 15px;
    line-height: 1;
    margin: 0 15px 20px;

    p {
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        margin-bottom: 10px;
    }

    a {
        color: #00AA99;
        font-size: 13px;
    }
}