.titleImg {
    width: 60px;
    margin: 30px auto 20px;
}

.title {
    margin: 0 auto 6px;
    font-size: 18px;
    color: #222222;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    font-weight: normal;
}

.subtitle {
    margin: 0 auto 24px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 21px;
    width: 270px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 16px 15px;

    p {
        font-size: 13px;
        color: #666666;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.wrapper {
    margin: 0 15px;
}
