:global {
    .am-toast {
        &.am-toast-msg {
            align-items: flex-start;
            z-index: 10000;
            
            .am-toast-notice {
                background-color: rgba(254, 86, 73, 0.9);
                color: #fff;
            }
        }

        &.am-toast-success {

            .am-toast-notice-content {
                padding: 0.6rem 0;
            }
            
            .am-toast-notice {
                background-color: rgba(0, 166, 153, 0.8);
                font-size: 18px;
            }
        }
    }

    .am-toast-msg>span {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

.msg {
    display: block;
    padding: 15px;
}