.pro_box {
    background-color: #fff;
    padding: 13px;
    margin-bottom: 15px;

    .title {
        margin-bottom: 10px;
    }

    .pro_list {
        :global {
            .am-list-item {
                flex-basis: 33.33%;
                padding-left: 0;

                &:nth-child(3) {
                    .am-list-line {
                        padding-right: 0 !important;
                    }
                }
            }
            .slider-decorator-0 {
                position: relative !important;
            }
            .am-list-content {
                padding-top: 0 !important;
            }

            .am-list-line {
                padding-right: 0.15rem !important;
                border-bottom: none !important;
                &::after {
                    background-color: #fff !important;
                }
            }
        }

        .item {
            width: 30%;
            img {
                width: 95px;
                height: auto;
                margin: .2rem .2rem 0;
                background-color: #f2f2f2;
            }
            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .thumb {
                background-color: #f2f2f2 !important;
            }
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // padding-bottom: 0.1421rem;
            // border: 0.02rem solid #f2f2f2;
            // min-height: 3.4rem;

            // .imgbg {
            //     padding: .2rem .2rem 0;
            //     background-color: #f2f2f2;
            // }
            // .thumb {
            //     width: auto;
            //     height: 1.9rem;
            //     display: block;
            //     margin: 0 auto;
            //     touch-action: pan-y pinch-zoom; // 处理 JavaScript 中的水平滚动，而 不停用垂直滚动或双指张合缩放（例如图像轮播）
            // }
            div{
                height: auto !important;
                > span {
                    display: block;
                    font-size: 13px;
                    line-height: 13px;
                    color: #333;
                    margin-bottom: 0.12rem;
                    padding: 0 .2rem;
                    text-align: center;
                }
            }

            :global {
                .name {
                    line-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #333333;
                    text-align: center;
                }

                .price {
                    color: #333;
                    font-size: .26rem;
                    text-align: center;
                }
                .special {
                    color: #333;
                }
            }

        }
    }

    .bottom {
        text-align: center;
        .text {
            display: flex;
            justify-content: center;
            color: #333;
            font-size: 14px;
            line-height: 14px;
            padding: 8px 0 3px;
        }

        .icon {
            width: 14px;
            height: 14px;
        }
    }
}
