.bottom_box {
    text-align: center;
    padding-bottom: env(safe-area-inset-bottom);
    .text {
        font-size: 12px;
        color: #AAAAAA;
        margin-bottom: 76px;

        a {
            color: #00AA99;
        }
    }

    .btn {
        position: fixed !important;
        left: 0;
        right: 0;
        bottom: 0;
    }
}