.top_box {
    height: 320px;
    background: url('images/enterprise/top-bg.png') center center no-repeat;
    background-size: cover;
    position: relative;

    .list {
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: 45px;
        background: #42506C;
        border-radius: 4px;
        text-align: center;
        padding: 13px 10px 15px;

        p {
            font-size: 18px;
            color: #FFFFFF;
            font-weight: bold;
            margin-bottom: 5px;
        }

        span {
            font-size: 12px;
            color: #FFFFFF;
            opacity: 0.4;
        }
    }
}